<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="17.1.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="GemBox.Document" version="29.0.0.1084" targetFramework="net45" />
  <package id="GemBox.Pdf" version="13.0.0.1009" targetFramework="net45" />
  <package id="GemBox.Spreadsheet" version="43.0.0.1084" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net45" />
</packages>