<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="17.1.1.0" targetFramework="net45" />
  <package id="DropDownListChosen" version="1.0.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />

  <package id="jQuery" version="1.8.2" targetFramework="net45" />

  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net45" />
</packages>