<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\IMS Publish\IMS.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>IMS</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IMS_TESTEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=IMS2;Integrated Security=True;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IMSBLL.EntityModel.IMS_TESTEntities, IMSBLL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TestDBConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=192.168.40.253;initial catalog=IMS_DEV;User Id=IMS_User; password=123;MultipleActiveResultSets=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TestDBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.40.253;initial catalog=IMS_DEV;User Id=IMS_User; password=123;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IMS_TESTConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.40.253;Initial Catalog=IMS_DEV;User ID=IMS_User;Password=123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IMS_TESTConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.40.253;Initial Catalog=IMS_DEV;User ID=IMS_User;Password=123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IMS_TESTConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IMS_TESTEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EntityModel.IMSModel.csdl|res://*/EntityModel.IMSModel.ssdl|res://*/EntityModel.IMSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=IMS2;Integrated Security=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestDBConnection-Web.config Connection String" />
  </ItemGroup>
</Project>